<html ng-app="testApp">
    <head>
        <title></title>
        <meta charset="utf-8"/>
        <link type="text/css" rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="node_modules/raet-ui-lib/dist/sass/feed.css"/>
        <link type="text/css" rel="stylesheet" href="node_modules/raet-ui-lib/dist/sass/form.css"/>
        <link type="text/css" rel="stylesheet" href="node_modules/raet-ui-lib/dist/controls/textarea/textarea.css"/>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/raet-ui-lib/dist/common/app.module.js"></script>
        <script src="node_modules/raet-ui-lib/dist/controls/textarea/textarea.directive.js"></script>
        <script src="node_modules/raet-ui-lib/dist/controls/textarea/translations/textarea.template.ru.js"></script>
        <style>
            .client-textarea {
                width: 50%;
                margin: 20px;
            }
        </style>
    </head>
    <body>
        <div class="client-textarea" yfo-textarea
                data-label="Label: {{testText}}"
                data-ng-model="testText"
                data-max="50"
                data-rows="5"></div>

        <div class="client-textarea" yfo-textarea
                data-label="Label: {{testText}}"
                data-ng-model="testText"
                data-max="100"
                data-rows="5"></div>
                
        <script type="text/javascript">
            angular.module("testApp", ["angularPOC"]);
        </script>
    </body>
</html>